# local env files
.env
.env*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# build artifacts
*.apk
*.aab
*.ipa
dist/
web-build/

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# native folders
/ios
/android

# other
.DS_Store
*.tsbuildinfo
app-example
expo-env.d.ts
.expo/
node_modules/
